{% extends "logicaltasks/base_template.html" %}
{% block content %}

{% if task_list %}
<div class="container">
  <ul class="list-group">
    <div class="row">
      {% for task in task_list %}
      <li class="list-group-item d-flex justify-content-between">
        <div class="col-10" style="text-align: left">
            <a href="{{ task.get_task_url }}">{{ task.title }}</a>
        </div>
        <div class="col-1">
          <span class="far fa-thumbs-up"></span>
          <span data-count="like">{{ task.reaction.likes.count }}</span>
        </div>
        <div class="col-1">
          <span class="far fa-thumbs-down"></span>
          <span data-count="like">{{ task.reaction.dislikes.count }}</span>
        </div>
      </li>
      {% endfor %}
  </ul>
</div>
{% endif %}
<br>
<div class="container text-center">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      {% block pagination %}
        {% if is_paginated %}
        <div class="pagination" style="justify-content: center">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}
            <span class="page-current">
              Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">вперед</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
      {% endblock %}
    </div>
    <div class="col"></div>
  </div>
</div>
<br>

{% endblock %}