{% extends "logicaltasks/base_template.html" %}
{% block content %}

{% if task_list %}
<ul class="list-group">
  <div class="row">
    {% for task in task_list %}
    <li class="list-group-item d-flex justify-content-between">
      <div class="col-10" style="text-align: left">
          <a href="{{ task.get_task_url }}">{{ task.title }}</a>
      </div>
      <div class="col-1">
        <span class="far fa-thumbs-up"></span>
        <span data-count="like">{{ task.reaction.likes.count }}</span>
      </div>
      <div class="col-1">
        <span class="far fa-thumbs-down"></span>
        <span data-count="like">{{ task.reaction.dislikes.count }}</span>
      </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}